---
interface Props {
  title: string;
  description?: string;
  href: string;
}

const { title, description, href } = Astro.props;
---

<a class="card" href={href}>
  <h3>{title}</h3>
  {description && <p>{description}</p>}
</a>
